@import url("https://cdn.jsdelivr.net/gh/elte-fi/www-assets@19.10.16/styles/mdss.min.css");

canvas {
  border: 5px solid #517d81;
  box-shadow: 0 0 20px #517d81;
}
#controls {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  padding: 65px 20px 20px 20px;
}
